
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Week", FormMethod.Get))
            {
<p>請輸入數字: @Html.TextBox("week") <input type="submit" value="查詢" /> </p>
<p>查詢結果: @ViewBag.result</p>
            }